<div class="main_header_div">
    <header class="login_head">
        <div class="container">
            <div class="login_head_wrapper">
                <!-- <h4>Welcome to Symmatric</h4>1 -->
                <a href="javascript:void(0)" title="Symmatric" class="head__logo">
                    <img src="../../assets/image/logo.png">
                </a>
                <a href="javascript:void(0)" class="contact_us">
                    <button class="btn btn-primary">Contact Us</button>
                    <button class="btn btn-primary">Sign Up</button>
                </a>
            </div>
        </div>
    </header>
</div>