<Doctype! html>
  <html>
    <head>
      
      <link rel="stylesheet" href="bookings.css"/>
    </head>

   
    <body>
       <!--Frame for all the modules side and top bar starts here-->
      <header class="header_allmodules">
        <div class="content_logo">
          <div>
            <img
              src="Images1/WhatsApp Image 2021-07-06 at 13.43.26.jpeg"
              class="logo_Companyprofile"
              alt="logo Symmatric"
            />
          </div>

          <div id="content1"><h1>Symmatric</h1></div>
       
        </div>
      </header>
      <div class="main_wrapper">
        <div class="left_panel">
          <div id="side_bar">
            <li id="dashboard">Dashboard</li>
            <li id="bookings">Bookings</li>
            <li id="company_profile">Company Profile</li>
            <li id="services">Services</li>
            <li id="artists">Artist</li>
            <li id="profile">Profile</li>
          </div>
        </div>



        <div class="center_panel_bookings"> 
          <div id="top_box_booking">
            <div id="elements_topbox_booking">
<div class="modules"><a >Pending</a></div>
<div class="modules"><a >Confirmed</a></div>
<div class="modules"><a >In progress</a></div>
<div class="modules"><a>completed</a></div>
</div>

<div>
  
  <label for="bookingdates" id="bookingdates" ></label>
  <input type="date" name="displaybookingdate" id="displaybookingdate">
  </div>





</div>
          
<table id="bookings_table">
  
<tr>
  <th > <input type="checkbox" name="myTextEditBox" class="checkbox_bookingtable"
    >  </th>
<th>Date </th>
<th> Order number</th>
<th> Customer Name </th>
<th>Type</th>
<th>Amount</th>
<th>Phone number</th>
</tr>
<tr>
  <td> <input type="checkbox" name="myTextEditBox" class="checkbox_bookingtable"
    >  </td>
  <td>Date </td>
  <td> Order number</td>
  <td> Customer Name </td>
  <td>Type</td>
  <td>Amount</td>
  <td>Phone number</td>  
</tr>
</tr>
<tr>
  <td> <input type="checkbox" name="myTextEditBox" class="checkbox_bookingtable"
    >  </td>
  <td>Date </td>
  <td> Order number</td>
  <td> Customer Name </td>
  <td>Type</td>
  <td>Amount</td>
  <td>Phone number</td>  
</tr>
</tr>
<tr>
  <td> <input type="checkbox" name="myTextEditBox" class="checkbox_bookingtable"
    >  </td>
  <td>Date </td>
  <td> Order number</td>
  <td> Customer Name</td>
  <td>Type</td>
  <td>Amount</td>
  <td>Phone number</td>  
</tr>
</tr>
<tr>
  <td> <input type="checkbox" name="myTextEditBox" class="checkbox_bookingtable"
    > </td>
  <td>Date </td>
  <td> Order number</td>
  <td> Customer Name </td>
  <td>Type</td>
  <td>Amount</td>
  <td>Phone number</td>  
</tr>
</tr>
<tr>
  <td> <input type="checkbox" name="myTextEditBox" class="checkbox_bookingtable"
    > </td>
  <td>Date </td>
  <td> Order number</td>
  <td> Customer Name </td>
  <td>Type</td>
  <td>Amount</td>
  <td>Phone number</td>

</tr>
</table>  
</div>


    <!--Frame for all the modules side and top bar ends here-->



        </body>
        </html>
