@import "../../assets/styles/_login.scss";
@import "../../assets/styles/_buttons.scss";
@import "../../assets/styles/app.scss";
@import "../../assets/styles/_form.scss";

.send_email_btn{
    margin-left: 5px;
    border-radius: 50px;
    min-width: 21px;
    line-height: 10px;
    padding: 15px;
}

.forgot_wrap{
    display: flex;
}