<div class="login_welcome">

    <div class="login_welcome__grey">

        <div class="login_welcome__form">

            <p class="login_welcome__heading">Reset Your Password</p>

            <form class="" role="form" [formGroup]="forgetForm" (ngSubmit)="onForgetPassword()">

                <div class="form_elem__wrap forgot_wrap">
                    <!-- <label class="form_elem__label" for="email_address">Email address</label> -->
                    <input (ngModelChange)="forgetPasswordError = ''" type="email" required="required"
                        [(ngModel)]="formData.reminder_email" formControlName="reminder_email" class="form_elem__input"
                        id="email_address" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        placeholder="Enter registered email address">
                    <button type="submit" class="btn btn--primary send_email_btn">Go</button>
                </div>
                <div class="login_welcome__password_reset">
                    <a class="login_welcome__link" href="javascript:void(0)" [routerLink]="['/login']">Return to login
                        page</a>
                    <label class="login_welcome__text">Forgot email?</label>
                    <!-- <a class="login_welcome__link" href="javascript:void(0)">
                        Contact Us!</a> -->
                </div>
            </form>
        </div>
    </div>
</div>