.btn{
    display: inline-block;
    min-width: 95px;
    text-align: center;
    padding: 10px 24px 11px;
    box-shadow: 0 3px 8px 0 rgb(31 31 31 / 0%);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: 0;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: aktiv-grotesk,sans-serif;
    background: #e4e7ea;
    border: 1px solid #e4e7ea;
    color: #3c4c5a;
}