<div class="main">
  <div class="logo-signup">
    <img
      src="C:\Users\SANYOGITA\Desktop\HTML & CSS Symmatric\Images1\logooooooo.jpg"
    />
  </div>
  <div class="header_signup">
    <h1>Welcome to Symmatric</h1>
    <h3>Happy to have you!</h3>
  </div>
  <div class="content">
    <form class="content_signup">
      <label for="firstname" class="form_elements">First Name</label><br />
      <input type="text" id="firstname" name="fname" /><br />
      <label for="business name" class="form_elements">Business Name</label
      ><br />
      <input
        type="text"
        id="business name"
        name="business name"
        pattern="[a-z]"
      /><br />
      <label for="email" class="form_elements">Email id </label><br />
      <input
        type="email"
        id="email"
        name="email"
        pattern="[a-z0-9._+-%]+@[a-z0-9]+\.[a-z]{3}$"
      /><br />

      <label for="password" class="form_elements">Password</label><br />
      <input type="password" id="password" name="password" /><br />
      <label for="phone number" class="form_elements">Phone number</label><br />
      <input type="number" id="phone number" name="phone number" />
    </form>

    <div>
      <button type="submit" class="Submit_button">Done</button>
    </div>
    <div class="tandc">
      <p>By signing up you agree to our terms and privacy policy.</p>
    </div>
  </div>
</div>
