<div class="login_welcome">
  <div class="login_welcome__grey">
    <div class="login_welcome__form">
      <a href="javascript:void(0)" title="Symmatric" class="signup_logo">
        <img src="../../assets/image/logo2.png">
    </a>
      <p class="signup_welcome__heading">
        Welcome to Symmatric
      </p>
      <p class="signup_welcome__heading_secondary">
        Happy to have you
      </p>
      <form [formGroup]="registrationForm" (submit)="registerUser()">

        <div class="form_elem__wrap">
          <label class="form_elem__label" for="first_name">First Name</label>
          <input type="text" required name="first_name" formControlName="first_name" class="form_elem__input"
            aria-required="true" id="first_name" type="text" autocomplete="off">
        </div>

        <div class="form_elem__wrap">
          <label class="form_elem__label" for="last_name">Last Name</label>
          <input type="text" required name="last_name" formControlName="last_name" class="form_elem__input"
            aria-required="true" id="last_name" type="text" autocomplete="off">
        </div>

        <div class="form_elem__wrap">
          <label class="form_elem__label" for="email_address">Email Address</label>
          <input type="text" required name="email" formControlName="email"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form_elem__input" aria-required="true"
            id="email_address" type="email" autocomplete="off">
        </div>

        <div class="form_elem__wrap">
          <label class="form_elem__label" for="business_name">Business Name</label>
          <input type="text" required name="business_name" formControlName="business_name" class="form_elem__input"
            aria-required="true" id="business_name" autocomplete="off">
        </div>

        <div class="form_elem__wrap">
          <label class="form_elem__label" for="phone_number">Phone Number</label>
          <input type="text" required name="phone_number" formControlName="phone" class="form_elem__input"
            aria-required="true" id="phone_number" autocomplete="off">
        </div>

        <div class="form_elem__wrap">
          <label class="form_elem__label" for="user_password">Password</label>
          <div class="show_pass">
            <input class="form_elem__input" type="password" name="user_password" formControlName="password" required>
          </div>
        </div>
        <button class="btn btn--primary btn--wide">Done</button>

        <div class="login_welcome__signup_wrap">
          <a class="login_welcome__link" href="javascript:void(0)" [routerLink]="['/register']">
            By signing up you agree to our terms and privacy policy.
          </a>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- <div class="main">
  <div class="logo-signup">
    <img
      src="C:\Users\SANYOGITA\Desktop\HTML & CSS Symmatric\Images1\logooooooo.jpg"
    />
  </div>
  <div class="header_signup">
    <h1>Welcome to Symmatric</h1>
    <h3>Happy to have you!</h3>
  </div>
  <div class="content">
    <form class="content_signup">
      <label for="firstname" class="form_elements">First Name</label><br />
      <input type="text" id="firstname" name="fname" /><br />
      <label for="business name" class="form_elements">Business Name</label
      ><br />
      <input
        type="text"
        id="business name"
        name="business name"
        pattern="[a-z]"
      /><br />
      <label for="email" class="form_elements">Email id </label><br />
      <input
        type="email"
        id="email"
        name="email"
        pattern="[a-z0-9._+-%]+@[a-z0-9]+\.[a-z]{3}$"
      /><br />

      <label for="password" class="form_elements">Password</label><br />
      <input type="password" id="password" name="password" /><br />
      <label for="phone number" class="form_elements">Phone number</label><br />
      <input type="number" id="phone number" name="phone number" />
    </form>

    <div>
      <button type="submit" class="Submit_button">Done</button>
    </div>
    <div class="tandc">
      <p>By signing up you agree to our terms and privacy policy.</p>
    </div>
  </div>
</div> -->